
/*ОФОРМЛЕНИЕ АРТЕФАКТОВ ВО ВКЛАДЕ АРТЕФАКТЫ*/

.artifacts {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    grid-gap: 10px;
    gap: 10px;
}

.small_container_artifacts {
    height: 450px;
    background: white;
    padding: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid black;
    position: relative;
    display: inline-block;
    overflow: auto;
}

.artifacts_image {
    max-width: 300px;
    max-height: 300px;
}

.text-container {
    font-family: "Nunito", Arial, sans-serif, serif;
    font-size: 14px;
    text-align: justify;
}

.artifacts img:hover {
    transform: scale(1.05);
    transition: 1s;
}

@media (max-width: 768px) {
    .artifacts {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
        padding: 10px;
    }
    .text-container {
        font-family: Nunito, Tahoma, sans-serif;
        font-size: 14px;
        width: auto;
    }
    .small_container_artifacts {
        height: auto;
    }
}