.container_exposition {
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 10px;
}

.small_container_exposition {
    flex: 1 1 calc(25% - 10px);
    background: whitesmoke;
    border-radius: 10px;
    padding: 0;
    text-align: center;
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.small_container_exposition img {
    max-width: 400px;
    max-height: 600px;
}

.hidden-text {
    font-family: Nunito, sans-serif, serif;
    opacity: 0;
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    transition: opacity 1s ease;
    pointer-events: none;
}