.museum_in_faces_main_container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 10px;
    gap: 10px;

}

.museum_in_faces_main_content {
    flex: 1 1 calc(25% - 10px);
    background: white;
    border-radius: 10px;
    padding: 0;
    text-align: center;
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.museum_in_faces_main_content img{
    max-width: 400px;
    max-height: 600px;
}

.text-container {
    display: flex;
    justify-content: stretch;
}

.museum_in_faces_main_content:hover {
    transform: scale(101%);
    transition: 0.5s;
}

@media (max-width: 768px) {
    align-items: start;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
@media (max-width: 1378px) {
    align-items: start;
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
}