@font-face {
    font-family: Nunito, Arial, sans-serif, serif;
    src: url(../Fonts/Nunito-Regular.woff2);
    font-weight: normal;
    font-style: normal;

}
                                    /* ОФОРМЛЕНИЕ МЕНЮ И ЕГО ЭЛЕМЕНТОВ*/
header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

.main-menu {
    background-color: darkred;
    height: 60px;
    margin-top: 40px;
    padding-left: 20px;
    font-family: Nunito, Arial, sans-serif, serif;
    font-weight: bold;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    text-transform: uppercase;
}

.contacts {
    margin: 20px;
}
.contacts a {
    text-decoration: none;
    padding: 2px;
    color: white;
}
.menu {
    flex-grow: 1;
}

.menu ul {
    text-decoration: none;
    display: flex;
    flex-flow: row nowrap;
    margin: 0;
    padding: 0;
    list-style: none;
}
.menu li {
    margin-right: 20px;
    text-decoration: none;
}

.menu a {
    color: white;
    text-decoration: none;
    padding: 8px 10px;
}

#logo {
    background-image: url(../Images/schoolLogo.png);
    margin: 20px;
    width: 343px;
    height: 61px;
}
#collage {
    border: 1px solid black;
    background-image: url(../Images/header_collage.png);
    height: 61px;
    width: 1150px;
    margin-right: 10px;
}

.contacts:hover, .menu li:hover, #logo:hover,  #collage:hover {
 transform: scale(102%);
    transition: 1s;
}
                                         /* */