@font-face {
    font-family: Nunito, Arial, sans-serif, serif;
    src: url(../Fonts/Nunito-Regular.woff2);
    font-weight: normal;
    font-style: normal;

}
                                    /* ОФОРМЛЕНИЕ МЕНЮ И ЕГО ЭЛЕМЕНТОВ*/
.main-menu {
    background-color: rgba(255, 0, 0, 30%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 40px;
    margin-top: 40px;
    padding-left: 20px;
    font-family: Nunito, Arial, sans-serif, serif;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2), 2px 2px 4px rgba(0, 0, 0, 0.19);
}

.contacts {
    margin: 20px;
}
.contacts a {
    border: 1px solid black;
    text-decoration: none;
    padding: 2px;
    background-color: white;
    color: black;
}
.menu {
    flex-grow: 1;
}

.menu ul {
    display: flex;
    flex-flow: row nowrap;
    margin: 0;
    padding: 0;
    list-style: none;
}
.menu li {
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 90%);
    margin-right: 20px;
}
.menu li:hover {
    transform: scale(105%);
    transition: 1s;
    background-color: rgba(255, 77, 77, 80%);
}

.menu li:last-child {
    margin-right: 0;
}

.menu a {
    color: black;
    text-decoration: none;
    padding: 8px 10px;
}

.logo {
    background-image: url(../Images/schoolLogo.png);
    margin: 20px;
    width: 343px;
    height: 61px;
}
.logo:hover {
 transform: scale(105%);
    transition: 1s;
}
.contacts:hover {
    transform: scale(105%);
    transition: 1s;
    background-color: rgba(255, 77, 77, 0.8);
}
                                         /* */