@font-face {
    font-family: Nunito, Arial, sans-serif, serif;
    src: url(../Fonts/Nunito-Regular.woff2);
    font-weight: normal;
    font-style: normal;

}
                                    /* ОФОРМЛЕНИЕ МЕНЮ И ЕГО ЭЛЕМЕНТОВ*/
header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

.main-menu {
    background-color: darkred;
    height: 40px;
    margin-top: 40px;
    padding-left: 20px;
    font-family: Nunito, Arial, sans-serif, serif;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    text-transform: uppercase;

}

.contacts {
    margin: 20px;
}
.contacts a {
    border: 1px solid black;
    text-decoration: none;
    padding: 2px;
    background-color: white;
    color: black;
}
.menu {
    flex-grow: 1;
}

.menu ul {
    display: flex;
    flex-flow: row nowrap;
    margin: 0;
    padding: 0;
    list-style: none;
}
.menu li {
    border: 1px solid black;
    background-color: white;
    margin-right: 20px;
}
.menu li:hover {
    transform: scale(105%);
    transition: 1s;
    background-color: rgba(255, 77, 77, 80%);
}

.menu li:last-child {
    margin-right: 0;
}

.menu a {
    color: black;
    text-decoration: none;
    padding: 8px 10px;
}

#logo {
    background-image: url(../Images/schoolLogo.png);
    margin: 20px;
    width: 343px;
    height: 61px;
}
#collage {
    border: 1px solid black;
    background-image: url(../Images/header_collage.png);
    height: 61px;
    width: 1150px;
}

#logo:hover {
 transform: scale(102%);
    transition: 1s;
}
.contacts:hover {
    transform: scale(102%);
    transition: 1s;
    background-color: rgba(255, 77, 77, 0.8);
}
#collage:hover {
    transform: scale(102%);
    transition: 1s;
}

                                         /* */